<p-accordionTab [header]="assignHeaderName()">
  <div class="screen" *ngIf="screenings.length > 0; else noScreenings">
    <div>Screenings:</div>
    <div>
      <p-button
        styleClass="p-button-primary"
        label="Add screening"
        icon="pi pi-plus"
        (click)="addNewScreening()"
      ></p-button>
    </div>
  </div>
  <div>
    <app-screening
      *ngFor="let screening of screenings; trackBy: trackByScreening"
      [screening]="screening"
    ></app-screening>
  </div>
</p-accordionTab>

<ng-template #noScreenings>
  <div class="screen-fallback">
    <div class="screen-fallback-text">This screen has no screenings setup.</div>
    <p-button
      styleClass="p-button-primary"
      label="Add one"
      icon="pi pi-plus"
      (click)="addNewScreening()"
    ></p-button>
  </div>
</ng-template>
