<header>
  <div class="header">
    <a routerLink="/dashboard"><div class="header-logo">Ultraplex</div></a>
    <div class="header-action">
      <div class="header-action-button">
        <p-button
          icon="pi pi-sign-in"
          styleClass="p-button-text p-button-primary"
        ></p-button>
      </div>
      <div class="header-action-button">
        <p-button
          icon="pi pi-user-plus"
          styleClass="p-button-text p-button-primary"
        ></p-button>
      </div>
    </div>
  </div>
</header>
