@import "./../../../../assets/colors.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: $secondary;
  color: $primary;
  font-size: 30px;
}
