<div class="cinema-details">
  <div class="cinema-details-photo">
    <img src="./assets/cinema_building.jpg" alt="Cinema photo" />
  </div>
  <div class="cinema-details-description">
    <div class="cinema-details-description-name">
      <span class="highlighted">Name: </span>
      {{ cinema?.name || "Name not specified" }}
    </div>
    <div class="cinema-details-description-screens">
      <span class="highlighted">Number of screens: </span>
      {{ cinema?.screens?.length || 0 }}
    </div>
    <div class="cinema-details-description-address">
      <span class="highlighted">Address: </span>9704 King Street, Dartford, DA40
      6DY
    </div>
    <p-button
      styleClass="p-button-primary"
      label="Add new screen"
      icon="pi pi-plus"
      (click)="addScreenToCinema()"
    ></p-button>
  </div>
</div>
