.dashboard {
  width: 100%;
  margin: 40px 0;

  &-counters {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-table {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 720px) {
  .dashboard {
    &-counters {
      flex-direction: row;
      justify-content: center;
    }

    &-table {
      width: 70%;
      margin-top: 0;
    }
  }
}
