<div class="dashboard">
  <div class="dashboard-counters">
    <app-counter
      name="Cinemas"
      [counter]="cinemasService.cinemasCounter"
      iconPath="./assets/icons/cinema.png"
    ></app-counter>
    <app-counter
      name="Screens"
      [counter]="cinemasService.screensCounter"
      iconPath="./assets/icons/screen.png"
    ></app-counter>
    <app-counter
      name="Movies"
      [counter]="moviesService.moviesCounter"
      iconPath="./assets/icons/movie.png"
    ></app-counter>
    <app-counter
      name="Bookings"
      [counter]="numberOfBookings$ | async"
      iconPath="./assets/icons/booking.png"
    ></app-counter>
  </div>
  <div class="dashboard-table">
    <p-tabView>
      <p-tabPanel header="Cinemas">
        <p-button
          class="dashboard-table-button"
          label="Add Cinema"
          icon="pi pi-plus"
          styleClass="p-button-success"
        ></p-button>
        <app-cinemas-table [cinemas]="(cinemas$ | async)!"></app-cinemas-table>
      </p-tabPanel>
      <p-tabPanel header="Movies">
        <p-button
          class="dashboard-table-button"
          label="Add Movie"
          icon="pi pi-plus"
          styleClass="p-button-success"
        ></p-button>
        <app-movies-table [movies]="(movies$ | async)!"></app-movies-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
