/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "./assets/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  margin: 0;
  background-color: $primary;
  font-family: "Roboto", sans-serif;
  color: $secondary_darker;
}

.p-tabview .p-tabview-nav li {
  width: 50% !important;
}

.p-button-primary {
  color: $primary !important;
  background-color: $secondary !important;
  border: 1px solid $primary !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: $secondary !important;
  color: $primary !important;
  border-color: $primary !important;
}

.p-datatable .p-datatable-thead > tr > th {
  color: $secondary_darker !important;
  background: $primary !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: $secondary !important;
  color: $primary !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  color: $secondary !important;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: $primary !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background: $secondary !important;
  color: $primary !important;
  border-color: $primary !important;
}

.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none !important;
  outline: none !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
  outline: none !important;
}
