@import "./../../../../assets/colors.scss";

.card {
  width: 60%;
  margin: 10px;
  display: block;
  text-align: center;
  min-width: 300px;

  &-icon {
    width: 100px;
    height: 100px;

    &-container {
      width: 60%;
      margin: auto;
    }
  }

  &-counter {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
    color: $secondary_darker;
  }
}
