@import "./../../../../assets/colors.scss";

.card {
  margin: 10px 10px;
  display: block;
  text-align: center;
  min-width: 180px;

  &-icon {
    width: 80px;
    height: 80px;

    &-container {
      margin: auto;
    }
  }

  &-counter {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    color: $secondary_darker;
  }
}

@media screen and (min-width: 720px) {
  .card {
    margin: 50px 10px;
    min-width: 200px;

    &-icon {
      width: 100px;
      height: 100px;
    }

    &-counter {
      margin-top: 20px;
      font-size: 40px;
    }
  }
}
